<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1><%=title %></h1>
    <form action="result" method="POST">
        <ul>  
            <% for(let i=0;i<images.length;i++){ %>
                <li><input type="checkbox" name="paths" value="<%= images[i] %>"><%= images[i] %></li>
            <% } %>
        </ul>     
        <input type="submit" value="post">
    </form> 
</body>
</html>